﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course</h1>
<a asp-controller="Courses" asp-action="List" type="submit" class="btn btn-info">Courses List</a>
<a asp-controller="Courses" asp-action="Create" type="submit" class="btn btn-info">Create Course</a>

<h1>Categories</h1>
<a asp-controller="Categories" asp-action="Index" type="submit" class="btn btn-info">Categories List</a>
<a asp-controller="Categories" asp-action="Create" type="submit" class="btn btn-info">Create Categories</a>

