﻿@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<input type="text" class="form-control" id="txtCourseImage" placeholder="Select An Image">

<form id="frmCourseImageUploader" enctype="multipart/form-data" method="post">
    @*<input type="number" name="courseId" value="5" />*@
    <input type="file" name="file" />
    <br />
    <input type="submit" name="Upload" value="Upload" class="btn btn-secondary" />
</form>
<img id="courseImage" class="lazy" src="~/images/default.gif" width="200" />