﻿@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tu_Mvc</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        @*<link rel="stylesheet" href="~/lib/spin-js/spin.css" />*@
        <link rel="stylesheet" href="~/lib/tempusdominus-datepicker/tempusdominus-bootstrap-4.min.css" />
        <link rel="stylesheet" href="~/lib/animate/animate.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        @RenderSection("styles", false)
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-white">
        <a class="navbar-brand" href="/"><img src="~/images/logo.png" alt="Alternate Text" width="300px" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="form-inline my-6 my-lg-0 input-group w-50">
                <input id="txtSearch" class="form-control border-radius-0 border-right-0" type="search" placeholder="Search" aria-label="Search" onkeypress="detectEnterKey(event);">
                <div class="input-group-append">
                    <button class="btn border bg-transparent border-left-0 border-radius-0 cursor-pointer" onclick="searchClick();">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            &nbsp;
            &nbsp;
            &nbsp;
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Courses" asp-action="Catalog"> <i class="fas fa-list"></i> Course Catalog</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-chart-bar"></i> Dashboard
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link" href="#"> Learner</a>
                        <a class="nav-link" asp-controller="Admin" asp-action="Index"> Admin</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container container-lg body-content">
        @RenderBody()


    </div>
    @*<footer class="bg-dark">
            <p class="text-white">&copy; 2019 - Tu_Mvc</p>
        </footer>*@


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        @*<script src="~/lib/spin-js/spin.js"></script>*@
        <script src="~/lib/sweet-alert/sweetalert.min.js"></script>
        <script src="~/lib/momentjs/moment.js"></script>
        <script src="~/lib/tempusdominus-datepicker/tempusdominus-bootstrap-4.min.js"></script>
        <script src="~/lib/lazyload-js/lazyload.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@11.0.6/dist/lazyload.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

    @*set variables for dev environment*@
    <environment include="Development">
        <script>  var apiEndpoint = "@Configuration["ApiEndpoint:Dev"]";</script>
    </environment>
    @*set variables for cloud environment*@
    <environment exclude="Development">
        <script>  var apiEndpoint = "@Configuration["ApiEndpoint:Cloud"]";</script>
    </environment>
    <script>


        var searchString;

        function searchClick() {
            debugger;
            searchString = $("#txtSearch").val().trim();
            searchCourse(searchString);
        }

        function detectEnterKey(e) {
            if (e.keyCode == 13) {
                searchString = $("#txtSearch").val().trim();
                searchCourse(searchString);
            }
        }
    </script>
    @RenderSection("Scripts", required: false)

</body>
</html>
