﻿
@{
    ViewData["Title"] = "Catalog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script src="~/js/Courses/Courses.js"></script>
    <script>
        $(document).ready(function () {
            //LoadAllCourses("tbl_index_all_categories");
            LoadAllCourses();
        });

    </script>
}
<h2>Catalog</h2>

<div id="courseCatalogContainer" class="container row">
    Loading..
</div>

