﻿
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script src="~/js/Categories/Categories.js"></script>
    <script src="~/js/Courses/Courses.js"></script>
    <script>
        $(document).ready(function () {

            clearCategory();

            loadCategory();

            initializeDatePickers();

            initializeImageUploader();

        });

     
    </script>
}
    <div class="container">
        <h2>Create Courses</h2>
        <div>
            <ul id="validationSummary"></ul>
        </div>
        <div class="row">

            @*first column*@
            <div class="col-md-6">
                @*Course Type*@
                <div class="form-group row">
                    <label for="courseType" class="col-sm-3 col-form-label">Course Type:&nbsp;</label>
                    <div class="col-sm-9">
                        <div id="courseType" class="dropdown">
                            <select id="ddCourseType" class="form-control">
                                <option value="0" selected="selected"> Select</option>
                                <option value="1"> Scorm</option>
                                <option value="2"> Non Scorm</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Course Title*@
                <div class="form-group row">
                    <label for="txtTitle" class="col-sm-3 col-form-label">Course Title:&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtTitle" placeholder="Enter title">
                    </div>
                </div>
                @*Category*@
                <div class="form-group row">
                    <label for="category" class="col-sm-3 col-form-label">Category:&nbsp;</label>
                    <div class="col-sm-9">
                        <div id="category" class="dropdown">
                            <select id="ddCategory" class="form-control">
                                <option value="0" selected="selected"> Select</option>
                                <option value="1"> Category 1</option>
                                <option value="2"> Category 2</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Subcategory*@
                <div class="form-group row">
                    <label for="subcategory" class="col-sm-3 col-form-label">Subcategory:&nbsp;</label>
                    <div class="col-sm-9">
                        <div id="subcategory" class="dropdown">
                            <select id="ddSubcategory" class="form-control">
                                <option value="0" selected="selected"> Select Category First</option>
                            </select>
                        </div>
                    </div>
                </div>
                @*Description*@
                <div class="form-group">
                    <label for="txtDescription">Description</label>
                    <textarea class="form-control pull-right" id="txtDescription" rows="3"></textarea>
                </div>
                @*Start Date*@
                <div class="form-group row">
                    <label for="dpStartdate" class="col-sm-3 col-form-label">Start Date:&nbsp;</label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="input-group date" id="dpStartdate" data-target-input="nearest">
                                <input id="txtStartdate" type="text" class="form-control datetimepicker-input" data-target="#dpStartdate" />
                                <div class="input-group-append" data-target="#dpStartdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*End Date*@
                <div class="form-group row">
                    <label for="dpEnddate" class="col-sm-3 col-form-label">End Date:&nbsp;</label>
                    <div class="col-sm-9">
                        <div class="form-group">
                            <div class="input-group date" id="dpEnddate" data-target-input="nearest">
                                <input id="txtEnddate" type="text" class="form-control datetimepicker-input" data-target="#dpEnddate" />
                                <div class="input-group-append" data-target="#dpEnddate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @*Duration*@
                <div class="form-group row">
                    <label for="txtDuration" class="col-sm-3 col-form-label">Duration:&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtDuration" placeholder="Enter duration">
                    </div>
                </div>
            </div>
            @*second column*@
            <div class="col-md-6">
                @*Published By*@
                <div class="form-group row">
                    <label for="txtPublishedBy" class="col-sm-3 col-form-label">Published By:&nbsp;</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="txtPublishedBy" placeholder="">
                    </div>
                </div>

                @*Access Mode*@
                <div class="form-group row">
                    <label for="accessMode" class="col-sm-3 col-form-label">Access Mode:&nbsp;</label>
                    <div class="col-sm-9">
                        <div id="accessMode" class="dropdown">
                            <select id="ddAccessMode" class="form-control">
                                <option value="0" selected="selected"> Select</option>
                                <option value="1"> Internal</option>
                                <option value="2"> External</option>
                            </select>
                        </div>
                    </div>
                </div>

                @*Course Image:*@
                <div class="form-group row">
                    <label for="txtCourseImage" class="col-sm-3 col-form-label">Course Image:&nbsp;</label>
                    <div class="col-sm-9">
                        <partial name="~/Views/Shared/_CourseImageUploader.cshtml" />
                    </div>
                </div>
            </div>

        </div>
        <input type="submit" id="formCreateCategory" onclick="CreateCourse(); return false;" value="Create" class="btn btn-primary" />

    </div>
