﻿
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script src="~/js/Courses/Courses.js"></script>
    <script src="~/js/Categories/Categories.js"></script>
    <script>
        $(document).ready(function () {
            initializeImageUploader();

            let id = '@Html.Raw(Model.id)';
            let Title = '@Html.Raw(Model.title)';
            let CategoryId = '@Html.Raw(Model.category.parentId)';
            let SubcategoryId =   '@Html.Raw(Model.categoryId)';
            let Description = '@Html.Raw(Model.description)';
            let AccessMode = '@Html.Raw(Model.accessMode)';
            let StartDate = '@Html.Raw(Model.startDate)';
            let EndDate = '@Html.Raw(Model.endDate)';
            let PublishedBy = '@Html.Raw(Model.publishedBy)';
            let UpdatedBy = "10146063";
            let Duration = '@Html.Raw(Model.duration)';
            let CourseImage = '@Html.Raw(Model.courseImage)';
            let CourseTypeId = '@Html.Raw(Model.courseTypeId)';


            initializeDatePickers();
            $("#lblCourseName").html(Title);
            //load form values
            $("#txtId").val(id);
            $("#ddCourseType").val(CourseTypeId);
            $("#txtTitle").val(Title);
            loadEditFormCategories(CategoryId);
            loadEditFormSubcategories(CategoryId, SubcategoryId);
            $("#txtDescription").val(Description);
            $("#ddAccessMode").val(AccessMode);
            $("#txtStartdate").val(StartDate);
            $("#txtEnddate").val(EndDate);
            $("#txtPublishedBy").val(PublishedBy);
            $("#txtDuration").val(Duration);
            $("#txtCourseImage").val(CourseImage);

            $("#courseImage").attr('src', "/images/loader.gif");
            $("#courseImage").attr('data-src', CourseImage);
            lazyLoadImages();

        });
    </script>
}

<h1>Edit - @Model.title</h1>

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="details-tab" data-toggle="tab" href="#details" role="tab" aria-controls="details" aria-selected="true">Details</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="content-tab" data-toggle="tab" href="#content" role="tab" aria-controls="content" aria-selected="false">Content</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">
        <div class="container">
            <div>
                <ul id="validationSummary"></ul>
            </div>
            <div class="row">
                <input type="hidden" name="txtId" id="txtId" />
                @*first column*@
                <div class="col-md-6">
                    @*Course Type*@
                    <div class="form-group row">
                        <label for="courseType" class="col-sm-3 col-form-label">Course Type:&nbsp;</label>
                        <div class="col-sm-9">
                            <div id="courseType" class="dropdown">
                                <select id="ddCourseType" class="form-control">
                                    <option> Select</option>
                                    <option value="1"> Scorm</option>
                                    <option value="2"> Non Scorm</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*Course Title*@
                    <div class="form-group row">
                        <label for="txtTitle" class="col-sm-3 col-form-label">Course Title:&nbsp;</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtTitle" placeholder="Enter title" value="@Model.title" />
                        </div>
                    </div>
                    @*Category*@
                    <div class="form-group row">
                        <label for="category" class="col-sm-3 col-form-label">Category:&nbsp;</label>
                        <div class="col-sm-9">
                            <div id="category" class="dropdown">
                                <select id="ddCategory" class="form-control">
                                    <option> Select</option>
                                    <option value="1"> Category 1</option>
                                    <option value="2"> Category 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*Subcategory*@
                    <div class="form-group row">
                        <label for="subcategory" class="col-sm-3 col-form-label">Subcategory:&nbsp;</label>
                        <div class="col-sm-9">
                            <div id="subcategory" class="dropdown">
                                <select id="ddSubcategory" class="form-control">
                                    <option value="0" selected="selected"> Select Category First</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    @*Description*@
                    <div class="form-group">
                        <label for="txtDescription">Description</label>
                        <textarea class="form-control pull-right" id="txtDescription" rows="3">@Model.description</textarea>
                    </div>
                    @*Start Date*@
                    <div class="form-group row">
                        <label for="dpStartdate" class="col-sm-3 col-form-label">Start Date:&nbsp;</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="input-group date" id="dpStartdate" data-target-input="nearest">
                                    <input id="txtStartdate" type="text" class="form-control datetimepicker-input" data-target="#dpStartdate" />
                                    <div class="input-group-append" data-target="#dpStartdate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*End Date*@
                    <div class="form-group row">
                        <label for="dpEnddate" class="col-sm-3 col-form-label">End Date:&nbsp;</label>
                        <div class="col-sm-9">
                            <div class="form-group">
                                <div class="input-group date" id="dpEnddate" data-target-input="nearest">
                                    <input id="txtEnddate" type="text" class="form-control datetimepicker-input" data-target="#dpEnddate" />
                                    <div class="input-group-append" data-target="#dpEnddate" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*Duration*@
                    <div class="form-group row">
                        <label for="txtDuration" class="col-sm-3 col-form-label">Duration:&nbsp;</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtDuration" placeholder="Enter duration">
                        </div>
                    </div>
                </div>
                @*second column*@
                <div class="col-md-6">
                    @*Published By*@
                    <div class="form-group row">
                        <label for="txtPublishedBy" class="col-sm-3 col-form-label">Published By:&nbsp;</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="txtPublishedBy" placeholder="">
                        </div>
                    </div>

                    @*Access Mode*@
                    <div class="form-group row">
                        <label for="accessMode" class="col-sm-3 col-form-label">Access Mode:&nbsp;</label>
                        <div class="col-sm-9">
                            <div id="accessMode" class="dropdown">
                                <select id="ddAccessMode" class="form-control">
                                    <option value="0" selected="selected"> Select</option>
                                    <option value="1"> Internal</option>
                                    <option value="2"> External</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    @*Course Image:*@
                    <div class="form-group row">
                        <label for="txtCourseImage" class="col-sm-3 col-form-label">Course Image:&nbsp;</label>
                        <div class="col-sm-9">
                            <partial name="~/Views/Shared/_CourseImageUploader.cshtml" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-6">
                    <a class="btn btn-dark btn-block" asp-controller="Courses" asp-action="List">Back to List</a>
                </div>
                <div class="col-md-6">
                    <input type="submit" id="btnUpdateCourse" onclick="postUpdateCourse(); return false;" value="Update" class="btn btn-primary btn-block float-right " />
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="content" role="tabpanel" aria-labelledby="content-tab">
       <partial name="_courseContent" />
    </div>
    <br />
    <br />
    <br />
</div>

