﻿@page
@section Scripts
    {
    <script src="~/js/Courses/Courses.js"></script>
    <script src="~/js/Categories/Categories.js"></script>
    <script>
        $(document).ready(function () {
            LoadCoursesIntoTable("tbl_index_all_courses");
            initializeImageUploader();
            ////Edit form on submit
            //$("#partialEditForm").submit(function () {
            //    let _id, _name, _parentid;
            //    _id = $('input[name=id]').val().trim();
            //    _name = $('input[name=name]').val().trim();
            //    _parentid = parseInt($('#ddCategory').val());
            //    PostEditCategory(_id, _name, _parentid)
            //    return false;
            //});

        });
    </script>
}

<div class="container">
    <h2>Categories</h2>
    <a asp-controller="Courses" asp-action="Create" type="submit" class="btn btn-info">Create Course</a>
    <br />
    <hr />
    <table id="tbl_index_all_courses" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Course Type</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Subcategory</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>

</div>


@*<div class="modal fade" id="_editCourseModal" tabindex="-1" role="dialog" aria-labelledby="_editCourseModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered  modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Edit - <label id="lblCourseName">{Course Name}</label></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" id="formEditCourse" onclick="postUpdateCourse(); return false;" value="Update" class="btn btn-primary " />
            </div>

        </div>
    </div>
</div>*@

