﻿
@{
    ViewData["Title"] = "SearchResult";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts  {
    <script src="~/js/Courses/Courses.js"></script>
    <script>

        $(document).ready(function () {

            loadSearchResult();

        });
    </script>
}
    <h2>Search Result for <i> "@Context.Request.Query["q"]"  </i></h2>

<div id="courseCatalogContainer" class="container row">
    Loading..
</div>

