﻿@*@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<script>
    clearCategory();
    populateSelectCategory(categoriesList);

        name = "@Model.name";
        parentCategoryId = parseInt(@Model.parentId);
    
        $("#Name").val(name);
    
        if (Number.isNaN(parentCategoryId))
            $("#ddCategory").val(-1);
        else
            $("#ddCategory").val(parentCategoryId);

</script>

    <div class="modal fade" id="_editCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="_editCategoriesModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">


                    <div id="formCreateCategory" class="row justify-content-center align-items-center">

                        <div class="col-md-6">
                            <div>
                                <ul id="validationSummary"></ul>
                            </div>

                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input id="Name" name="Name" class="form-control" />
                            </div>

                            @*Category*@
                            <div class="form-group row">
                                <label for="category" class="col-sm-12 col-form-label">Parent Category:&nbsp; (Select if you want to add as Subcategory)</label>
                                <div class="col-sm-12">
                                    <div id="category" class="dropdown">
                                        <select id="ddCategory" class="form-control">
                                            <option value="0" selected="selected"> Select</option>
                                            <option value="1"> Category 1</option>
                                            <option value="2"> Category 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <input type="submit" id="formCreateCategory" onclick="UpdateCategory(); return false;" value="Update" class="btn btn-primary btn-block" />
                        </div>
                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
