﻿@page
@{
    //ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts
    {
    <script src="~/js/Categories/Categories.js"></script>
    <script>
        $(document).ready(function () {
            loadCategory();
            LoadCategoriesIntoTable("tbl_index_all_categories");

            //Edit form on submit
            $("#partialEditForm").submit(function () {
                let _id, _name, _parentid;
                _id = $('input[name=id]').val().trim();
                _name = $('input[name=name]').val().trim();
                _parentid = parseInt($('#ddCategory').val());
                PostEditCategory(_id, _name, _parentid)
                return false;
            });

        });
    </script>
}

<div class="container">
    <h2>Categories</h2>
    <a asp-controller="Categories" asp-action="Create" type="submit" class="btn btn-info">Create Category</a>
    <br />
    <hr />
    <table id="tbl_index_all_categories" class="display" style="width:100%">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>ParentId</th>
                <th>Action</th>
            </tr>
        </thead>
        @*<tbody>
            <tr>
                <td>
                    Loading..
                </td>
            </tr>
        </tbody>*@
    </table>

</div>


<div class="modal fade" id="_editCategoriesModal" tabindex="-1" role="dialog" aria-labelledby="_editCategoriesModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form id="partialEditForm">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Edit</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div id="formCreateCategory" class="row justify-content-center align-items-center">
                        <div class="col-md-6">
                            <div>
                                <ul id="validationSummary"></ul>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Name</label>
                                <input id="id" name="id" type="hidden" />
                                <input id="name" name="name" class="form-control" />
                            </div>
                            @*Category*@
                            <div class="form-group row">
                                <label for="category" class="col-sm-12 col-form-label">Parent Category:&nbsp; (Select if you want to add this as Subcategory)</label>
                                <div class="col-sm-12">
                                    <div id="category" class="dropdown">
                                        <select id="ddCategory" class="form-control">
                                            <option value="0" selected="selected"> Select</option>
                                            <option value="1"> Category 1</option>
                                            <option value="2"> Category 2</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*onclick="UpdateCategory(); return false;"*@
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" id="formCreateCategory" value="Update" class="btn btn-primary " />
                </div>
            </form>
        </div>
    </div>
</div>

